<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Todos</a>
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href class="nav-link">LogOut</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <div class="row justify-content-md-center">
      <router-outlet></router-outlet>
    </div>
    <notifier-container></notifier-container>
  </div>
</div>
