<div class="container m-5 p-2 rounded mx-auto bg-light shadow">
  <!-- Create todo section -->
  <div class="row m-1 p-3">
      <div class="col col-11 mx-auto">
      <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center" >
        <form [formGroup]="todoForm" class="todo-form" (ngSubmit)="onSubmit()">
          <div class="col">
            <input formControlName="title" class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" placeholder="Title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" >
          </div>
          <div class="col">
            <input formControlName="description" class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" placeholder="Description">
          </div>
          <div class="col-auto px-0 mx-0 mr-2">
            <button [disabled]="loading" type="submit" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              {{btnSubmit}}
            </button>
            <button *ngIf="edit" [disabled]="loading" type="button" class="btn btn-danger" (click)="cancelEdit()">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="p-2 mx-4 border-black-25 border-bottom"></div>
  <!-- View options section -->
  <div class="row m-1 p-3 px-5 justify-content-end">
    <div class="col-auto d-flex align-items-center">
      <label class="text-secondary my-2 pr-2 view-opt-label">Filter</label>
      <select class="custom-select custom-select-sm btn my-2">
        <option value="all" selected>All</option>
        <option value="completed">Completed</option>
        <option value="active">Active</option>
        <option value="has-due-date">Has due date</option>
      </select>
    </div>
    <div class="col-auto d-flex align-items-center px-1 pr-3">
      <label class="text-secondary my-2 pr-2 view-opt-label">Display</label>
      <select class="custom-select custom-select-sm btn my-2" (change)="onChangeDisplayOption($event)">
        <option *ngFor="let displayOption of displayOptions" value="{{displayOption.value}}" [selected]="displayOption.value==='10'">{{displayOption.text}}</option>
      </select>
    </div>
    <div class="col-auto d-flex align-items-center px-1 pr-3">
      <label class="text-secondary my-2 pr-2 view-opt-label">Sort</label>
      <select class="custom-select custom-select-sm btn my-2" (change)="onChangeSortOption($event)">
        <option *ngFor="let sortOption of sortOptions" value="{{sortOption.value}}" [selected]="sortOption.value==='createdAt'">{{sortOption.text}}</option>
      </select>
      <fa-icon (click)="onClickSortOptionDirection('desc')" *ngIf="selectedSortOptionDirection == 'asc'" [icon]="sortAmountDownIcon" class="fa fa fa-sort-amount-asc text-info btn mx-0 px-0 pl-1" data-toggle="tooltip" data-placement="bottom" ngbTooltip="Ascending"></fa-icon>
      <fa-icon (click)="onClickSortOptionDirection('asc')" *ngIf="selectedSortOptionDirection == 'desc'" [icon]="sortAmountUpIcon" class="fa fa fa-sort-amount-desc text-info btn mx-0 px-0 pl-1" data-toggle="tooltip" data-placement="bottom" ngbTooltip="Descending"></fa-icon>
    </div>
  </div>
  <!-- Todo list section -->
  <div class="row mx-1 px-5 pb-3 w-80">
    <div class="col mx-auto">
      <div *ngFor="let todo of todos" class="row px-3 align-items-center todo-item rounded">
        <div class="col-auto m-1 p-0 d-flex align-items-center">
          <div class="widget-content-left mr-2">
            <div class="custom-checkbox custom-control"> <input class="custom-control-input" id="{{todo.id}}" type="checkbox" (change)="todoCompleted(todo.id, $event)" [checked]="todo.completed"><label class="custom-control-label" for="{{todo.id}}">&nbsp;</label> </div>
          </div>
        </div>
        <div class="col px-1 m-1 d-flex align-items-center">
          <input type="text" class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3" readonly value="{{todo.title}}" title="{{todo.title}}" />
        </div>
        <div class="col px-1 m-1 d-flex align-items-center">
          <input type="text" class="form-control form-control-lg border-0 edit-todo-input-desc bg-transparent rounded px-3" readonly value="{{todo.description}}" title="{{todo.description}}" />
        </div>
        <div class="col-auto m-1 p-0 px-3 d-none">
        </div>
        <div class="col-auto m-1 p-0 todo-actions">
          <div class="row d-flex align-items-center justify-content-end">
            <h5 class="m-0 p-0 px-2">
              <fa-icon [icon]="pencilIcon" class="fa fa-pencil text-info btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" ngbTooltip="Edit todo"  (click)="editTodo(todo.id)"></fa-icon>
            </h5>
            <h5 class="m-0 p-0 px-2">
              <fa-icon [icon]="trashIcon" class="fa fa-trash-o text-danger btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" ngbTooltip="Delete todo"  (click)="deleteTodo(todo.id)"></fa-icon>
            </h5>
          </div>
          <div class="row todo-created-info">
            <div class="col-auto d-flex align-items-center pr-2">
              <fa-icon [icon]="infoCircleIcon" class="fa fa-info-circle px-2 text-black-50 btn" data-toggle="tooltip" data-placement="bottom" title="" ngbTooltip="Created date"></fa-icon>
              <label class="date-label my-2 text-black-50">{{ todo.createdAt | date: 'medium' }}</label>
            </div>
          </div>
          <div class="row todo-created-info">
            <div class="col-auto d-flex align-items-center pr-2">
              <fa-icon [icon]="infoCircleIcon" class="fa fa-info-circle px-2 text-black-50 btn" data-toggle="tooltip" data-placement="bottom" title="" ngbTooltip="Updated date"></fa-icon>
              <label class="date-label my-2 text-black-50">{{ todo.updatedAt | date: 'medium' }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
